{% extends "layouts/page.njk" %}

{% from "screenshots/macro.njk" import appScreenshots %}

{% block content %}
  {{ appDocumentHeader({
    title: title | noOrphans
  }) }}

  <meta name="theme-color" content="#00A33B">


  {% call appProseScope() %}
    {{ content }}

    {% for collection in screenshots %}
      {{ appScreenshots(collection) }}
    {% else %}
      {{ appScreenshots(screenshots) if screenshots }}
    {% endfor %}
  {% endcall %}
{% endblock %}
